.feature-section {
  padding-top: 0;
  padding-bottom: 0;
}

.feature-container {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  margin-bottom: -30px;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  @include desk {
    width: 1170px;
  }
}

.feature__item {
  display: block;
  width: 450px;
  margin-bottom: 30px;

  @include tab {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
  }
  @include desk {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.feature__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;

  @include desk {
    text-align: left;
  }
}

.feature-content {
  height: 120px;
  border-radius: 4px;
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
