.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__container {
  // position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  padding-top: 16px;

  @include tab {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.connect__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.connect__item {
  @include desk {
    margin-right: 50px;
  }
}

.header__logo {
  margin-right: 93px;
}

.site-list {
  position: relative;
  display: flex;
  align-items: baseline;
}

.site-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: none;

  @include tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.contacts {
  display: none;

  @include tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
