.footer {
  background-color: var(--first-bg-color);
  color: var(--primary-white-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
}

.footer__logo {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
}

.footer__adress {
  color: white;
  text-decoration: none;
  background-color: var(--first-bg-color);
  font-style: normal;
  margin-top: 20px;
}

.adress__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
  color: #ffffff;
  background-color: var(--first-bg-color);
  margin-top: 20px;
  text-decoration: none;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__icon {
  fill: #ffffff;
}

.form__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 148px;
  transform: translateY(-50%);
}

.footer__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.form-footer {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
}

.footer__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0 15px 16px;
  font-family: inherit;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  &:hover::placeholder,
  &:focus::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.footer__btn {
  min-width: 200px;
  min-height: 50px;
  background: #2196f3;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  padding-left: 29px;
  text-align-last: left;
}

.form-footer {
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
  }
}
