.menu-open-btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #000;
  border: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include tab {
    display: none;
  }
}

.mob-menu-container {
  @include small-tel {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 48px;
    padding-left: 40px;
  }

  @include tab {
    display: none;
  }
}

.mob-menu-bottom {
  @include small-tel {
    margin-top: auto;
    margin-bottom: 48px;
  }
}

.menu-close-btn {
  @include small-tel {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 44px;
    height: 44px;
    margin-left: auto;
    display: block;
    background-color: transparent;
    border: none;
  }
}

.mob-menu__icon {
  fill: currentColor;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu-list__link {
  @include small-tel {
    font-size: 24px;
    line-height: 1.18;
    color: var(--primary-text-color);
    font-weight: 500;
    text-align: left;
  }

  @include tel {
    font-size: 40px;
  }
}

.mob-menu-list__current {
  @include small-tel {
    font-size: 24px;
    line-height: 1.18;
    color: var(--accent-color);
    font-weight: 500;
    text-align: left;
  }

  @include tel {
    font-size: 40px;
  }
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-connect__list {
  font-size: 40px;
  line-height: 1.18;
  color: var(--accent-color);
  font-weight: 500;
  text-align: left;
  display: block;
  margin-top: auto;
  margin-bottom: 64px;
}

.mob-connect__tel {
  @include small-tel {
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 1.17;
    & .link {
      color: var(--accent-color);
    }
  }
  @include tel {
    font-size: 34px;
  }
}

.mob-connect__mail {
  @include small-tel {
    font-size: 18px;
    line-height: 1.17;
    color: var(--primary-text-color);
  }
  @include tel {
    font-size: 24px;
  }
}

.mob-social {
  display: flex;
  flex-direction: row;
}

.mob-social__item {
  &:not(:last-child) {
    padding-right: 10px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-social__link {
  @include small-tel {
    font-size: 11px;
    line-height: 1.22;
    font-weight: 500;
    color: var(--accent-color);
  }

  @include tel {
    font-size: 18px;
  }
}

// .menu-button {
//   display: inline-flex;
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: transparent;

//   &.icon-cross {
//     display: none;
//   }
//   &.is-open .icon-cross {
//     display: block;
//   }
//   &.is-open .icon-menu {
//     display: none;
//   }
//   @include tab {
//     display: none;
//   }
// }
