body {
  background-color: var(--primary-white-color);
  color: var(--secondary-text-color);
  font-family: $font-family;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  vertical-align: top;
}

textarea {
  outline: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
